version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    ports:
      - "9100:9100"

  app:
    build: .
    container_name: backend_api
    env_file:
      - .env
    ports:
      - "8000:8000"
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
